.container-app{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.form-section{
    width: 100%;
    margin-bottom: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.result-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 865px) {
    .form-section{
        margin: 0;
    }
    .container-app{
        margin-top: 0;
    }
}