.container-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50rem;
    padding: 5rem;

    background-color: rgba(0, 0, 0, .15);
    background-size: 150%;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(75, 75, 75, 0.794);
}

.container-result label{
    margin-bottom: 3rem;

    color: var(--text-color);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);

    font-family: inherit;
    font-weight: bold;
    font-size: 3rem;
}

.container-result textarea{
    background-color: var(--third-color);
    border: none;
    border-radius: 5px;

    width: 100%;
    height: 20rem;
    padding: 1rem;

    font-family: inherit;
    font-weight: bold;
    font-size: 2rem;
    resize: none;

    color: var(--text-color);
}

@media screen and (max-width: 865px) {
    .container-result{
        border-radius: 0;
        margin: 0;
        width: 100%;
        height: 60vh;
        padding: 0 5rem;
        box-shadow: none;
    }
    .container-result textarea{
        height: 80%;
    }
}